@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/comfortaa/Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/raleway/Raleway-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
}
body {
  padding-right: 0 !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex: 1;
}

.MuiAutocomplete-popper .MuiPaper-root {
  background-color: #fefefe;
  box-shadow: 0 0 1px 0px black;
}

.remirror-floating-popover {
  z-index: 999;
}

.remirror-floating-popover > input {
  padding: 7px;
  border-width: 1px;
  box-shadow: none;
  outline: none;
  border-radius: 6px;
  border-image: none;
  border-color: gray;
  background-color: #fff;
  border-style: solid;
}

.remirror-theme {
  --rmr-color-primary: #FF570A;
  --rmr-color-hover-primary: #FF570A;
  --rmr-font-family-default: inherit;
  --rmr-font-family-heading: inherit;
  --rmr-font-family-mono: inherit;
}
