services:
  api:
    image: bjoernf.com/api:latest
    build: .
    ports:
      - "80:4321"
    # depends_on:
    # - db
    labels:
      - traefik.enable=true
      - "traefik.http.routers.bjoernf-api.rule=Host(`api.bjoernf.com`) && PathPrefix(`/`)"
      - traefik.http.routers.bjoernf-api.entryPoints=http
    restart: unless-stopped

  # db:
  #   image: postgres:18
  #   environment:
  #     - POSTGRES_USER=${POSTGRES_USER}
  #     - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
  #     - POSTGRES_DB=${POSTGRES_DB}
  #   healthcheck:
  #     test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
  #     interval: 5s
  #     timeout: 5s
  #     retries: 10
  #   volumes:
  #     - ./bjoernf.com/data:/var/lib/postgresql/data
  #   restart: unless-stopped
