---
import { getDb } from "@/utils/database";
import PostItem from "@/components/PostItem.astro";
import Layout from "@/layouts/Layout.astro";
import { ensureAuth } from "@/utils/auth";
import Button from "@/components/Button.astro";

try {
  await ensureAuth(Astro.cookies.get("token")?.value);
} catch {
  return Astro.redirect("/admin/login");
}

const database = await getDb();
const posts = await database
  .posts()
  .find({ published: { $exists: false } })
  .sort({ createdAt: -1 });
---

<Layout title="Blog">
  <div class="flex flex-col">
    {posts.map((p) => <PostItem post={p} />)}
  </div>
  <div class="flex justify-end mt-4">
    <Button id="new-post" variant="contained">New Post</Button>
  </div>
</Layout>

<script>
  import { POST } from "@/utils/api";


  document.getElementById("new-post")?.addEventListener("click", async () => {
    const result = await POST(`/api/create`, null);
    if (result.success) {
      window.location.href = `/admin/edit/${result.json.post._id}`;
    }
  });
</script>