---
import { getDb } from "@/utils/database";
import PostItem from "@/components/PostItem.astro";
import Layout from "@/layouts/Layout.astro";
import { ensureAuth } from "@/utils/auth";

try {
  await ensureAuth(Astro.cookies.get("token")?.value);
} catch {
  return Astro.redirect("/admin/login");
}

const database = await getDb();
const posts = await database
  .posts()
  .find({ published: { $exists: false } })
  .sort({ createdAt: -1 });
---

<Layout title="Blog">
  <div class="flex flex-col">
    {posts.map((p) => <PostItem post={p} />)}
  </div>
</Layout>
