---
interface Props {
  external: boolean;
  href: string;
  rel?: string;
}

const { href, external, rel = "noreferrer" } = Astro.props;
---

{
  external ? (
    <a
      class="inline text-primary underline decoration-primary hover:decoration-orange-200"
      href={href}
      rel={rel}
      target="_blank"
    >
      <slot />
    </a>
  ) : (
    <a
      class="text-primary underline decoration-primary hover:decoration-orange-200"
      href={href}
    >
      <slot />
    </a>
  )
}
