.alert {
  border-radius: 4px;
  box-shadow: none;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    Arial, 'sans-serif';
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.43;
  display: flex;
  padding: 6px 16px;
}
