---
import Divider from "@/components/Divider.astro";
import Ref from "@/components/Ref/Ref.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="About">
  <div class="flex flex-col gap-7">
    <span>
      <h3 class="text-xl font-bold">How it&apos;s made</h3>
    </span>
    <span>
      This website is built using <Ref
        text="Astro"
        href="https://astro.build/"
      /> and supported by MongoDB. Everything is dockerised and I use this handy


      <Ref
        text="Let's Encrypt Companion"
        href="https://github.com/nginx-proxy/acme-companion"
      />
       to do the signing legwork for me.
    </span>
    <span>
      Many thanks to <Ref
        text="Katie Linero"
        href="https://github.com/katie7r"
      /> for creating <Ref href="http://ipa-reader.xyz" />. I used this to
      generate the spoken mp3 file of my name. You can hear this by hovering
      over my name in the header and pressing the "Listen" button.
    </span>
    <span>
      The best part: All the code is public at{" "}
      <Ref href="https://github.com/BFriedrichs/bjoernf.com" />
    </span>
    <span>
      <Divider />
    </span>
    <span>
      <h3 class="text-xl font-bold">Privacy / Tracking</h3>
    </span>
    <span>
      To get minimal information about my site statistics, I use{" "}
      <Ref text="Plausible analytics" href="https://plausible.io/" />. I self
      host this analytics package to gives me insight into the generated traffic
      without storing any information on third-party servers.
    </span>
  </div>
</Layout>
