---
import Layout from "@/layouts/Layout.astro";
import Ref from "@/components/Ref/Ref.astro";
import Divider from "@/components/Divider.astro";
import PostItem from "@/components/PostItem.astro";

import { getCollection } from "astro:content";
const posts = await getCollection("blog");

const sortedPosts = posts.sort((a, b) => {
  const aDate = new Date(a.data.createdAt);
  const bDate = new Date(b.data.createdAt);
  return bDate.getTime() - aDate.getTime();
});

interface Props {
  title: string;
  body: string;
  href: string;
}
---

<Layout title="Home">
  <div class="flex flex-col gap-7">
    <span>
      <h2 class="text-xl font-bold">This is home</h2>
    </span>
    <span>
      I am someone that likes to dabble and try things. And sometimes it just
      goes unexpectedly well.
    </span>
    <span>
      This <Ref text="blog" href="/blog" /> gathers all the posts about the fun
      stuff I like to work with and try out. I designate this space for my hobby
      projects and other interesting titbits I encounter when working. I may
      also occasionally post about my research or simply just braindump some
      thoughts.
    </span>
    <span>
      I have always enjoyed learning (and educating others) about all the weird
      little bits and intricacies that you encounter during software
      development. Maybe I can shed some light on these weirdnesses or maybe you
      are just here to have a snoop around, don&apos;t let me stop you. You can
      find links to my socials above, I am also on <Ref
        text="Mastodon"
        rel="me"
        href="https://fosstodon.org/@itsbjoern"
      /> and <Ref text="X" rel="me" href="https://x.com/itsbjoern" />.
    </span>
    <span>
      <Divider />
    </span>
    <span>
      <h3 class="text-xl font-bold">Me (briefly)</h3>
    </span>
    <span>
      I&apos;m a software engineer, originally from Germany and now living and
      working in the UK for more than `new Date().getFullYear() - 2018` years.
      As of right now I am employed as a senior software engineer at
      <Ref text="Simply Do Ideas" href="https://simplydo.co.uk" /> in Cardiff
      🏴󠁧󠁢󠁷󠁬󠁳󠁿.
    </span>
    <span>
      I have just finished my PhD degree at{" "}
      <Ref text="Cardiff University" href="https://cardiff.ac.uk" />. I had
      always been fascinated with the psychology surrounding the use of
      technology and being able to research Human Computer Interaction to this
      extent was a great experience. You can find my thesis and other research
      papers in the <Ref text="projects" href="/projects" /> section.
    </span>
    <span>
      <Divider />
    </span>
    <span>
      <h3 class="text-xl font-bold">Recent posts</h3>
      <div class="flex flex-col">
        {sortedPosts.slice(0, 3).map((p) => <PostItem post={p} />)}
      </div>
    </span>
  </div>
</Layout>
