---
import Divider from "@/components/Divider.astro";
import Ref from "@/components/Ref/Ref.astro";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";

import CodeAnimatorGif from "@/images/code-animation.gif";
---

<Layout title="Projects">
  <div class="flex flex-col gap-7">
    <span>
      <h2 class="text-2xl font-bold">Projects</h2>
    </span>
    <div class="flex flex-col gap-7">
      <div class="">
        <b>PDFBlaze</b>
         –
        <Ref text="pdfblaze.com" href="https://pdfblaze.com" />
        <span>
          A free templated PDF generation tool. Use the no-code editor to create
          reusable PDF templates and insert data to generate PDFs. PDF rendering
          engine written from scratch in <Ref
            text="Rust"
            href="https://www.rust-lang.org/"
          />.
        </span>
      </div>
      <div class="">
        <b>Vechsel</b>
         –
        <Ref text="On GitHub" href="https://github.com/itsbjoern/vechsel" />
        <span>
          A macOS utility application written in <Ref
            text="Swift"
            href="https://swift.org/"
          /> to switch application windows by replacing the standard ⌘+Tab
          behaviour.
        </span>
      </div>
      <div class="">
        <b>Nintendo Switch - GBA Emulator</b>
         –
        <Ref text="On GitHub" href="https://github.com/itsbjoern/switch-gba" />
        <span>
          Utilising the restricted Nintendo Switch browser to capture input and
          receive streamed emulator data from a remote Python server.
        </span>
      </div>
      <div class="">
        <b>This website</b>
         –
        <Ref text="On GitHub" href="https://github.com/itsbjoern/bjoernf.com" />
        <span>
          Astro website including multiple fun components such as the{" "}
          <Ref text="Code Animator" href="/fun/code-animator" /> for creating
          code snippet animations.
        </span>
      </div>
      <div class="">
        <b>Infrared sound remote</b>
        <Ref text="On GitHub" href="https://github.com/itsbjoern/pi-remote" />
         –
        <span>
          Problem: Speakers that connect to a TV with a proprietary remote
          control. Solution: A infrared transceiver and a{" "}
          <Ref text="RPi" href="https://www.raspberrypi.org/" /> + a local web
          server.
        </span>
      </div>
    </div>
    <div class="flex flex-row gap-7">
      <div class="">
        <b>And much more...</b>
        <span>
          There is a lot of testing, prodding and half-finished bits. Feel free
          to visit my
          <Ref text="GitHub" href="https://github.com/itsbjoern" />{" "}
           profile to see them.
        </span>
      </div>
    </div>
    <Divider />
    <span>
      <h2 class="text-2xl font-bold">Fun</h2>
    </span>
    <div class="flex flex-col gap-7">
      <div class="">
        <b>Code animation tool</b>
         –
        <Ref text="Code animator" href="/fun/code-animator" />
         –
        <span>
          A tool to create animated code snippets for blog posts and
          presentations. Write multiple code snippets and the tool will create a
          smooth transition animation between them.
        </span>
        <Image
          src={CodeAnimatorGif}
          alt="Code Animator Preview"
          class="w-full mt-2 p-2 rounded border border-gray-300"
        />
      </div>
      <div class="">
        <b>Habit tracker</b>
         –
        <Ref text="Habit tracker" href="/fun/habits" />
         –
        <span>
          Super easy-to-use habit tracker that you can embed anywhere. Just
          create a tracker, add your habits, and embed it in your website or
          blog. No tracking of personal data, all data is stored securely and
          privately.
        </span>
        <iframe
          src={import.meta.env.PROD
            ? "https://bjoernf.com/fun/habits/embed?tracker=09ff0ea7-60bd-40b0-815e-2349bcb9a619"
            : "http://localhost:4321/fun/habits/embed?tracker=dbc1b4cf-c0ce-4cf7-aea5-0d2f0de7783e"}
          width="100%"
          style="border:none; min-height: 180px;"></iframe>
      </div>
      <div class="">
        <b>Virtual bookshelf</b>
         –
        <Ref text="My bookshelf" href="/fun/bookshelf" />
         –
        <span>
          A 3D rendered virtual bookshelf to showcase my physical book
          collection. Built with <Ref
            text="Three.js"
            href="https://threejs.org/"
          />. I wrote an article about how this works in <Ref
            text="this blog post"
            href="/blog/virtual-bookshelf"
          />.
        </span>
      </div>
      <div class="">
        <b>Wikipedia daily game</b>
         –
        <Ref text="Play now" href="/games/wikipedia-connections" />
         –
        <span>
          A game that challenges you to connect two random Wikipedia articles by
          navigating through links.
        </span>
      </div>
    </div>

    <Divider />
    <span>
      <h2 class="text-2xl font-bold">Research</h2>
    </span>
    <div class="flex flex-col gap-5">
      <div class="flex flex-col">
        <b>Decoding User Behaviour from Smartphone Interaction Event Streams</b>
        <Ref
          text="Open Access Link"
          href="https://orca.cardiff.ac.uk/id/eprint/163612/"
        />
         This is my PhD thesis, it compounds my individual research over the
        years into one document.
      </div>
      <div class="flex flex-col">
        <b
          >Discovering Types of Smartphone Usage Sessions from User-App
          Interactions</b
        >
        <Ref
          text="View on IEEE Xplore"
          href="https://doi.org/10.1109/PerComWorkshops51409.2021.9431034"
        />
         In this paper, we examine how embedding physical user-app activity
        (e.g., taps and scrolls) can provide a rich basis for summarising device
        usage. Using a large dataset of 82,758,449 interaction events from 86
        users over an 8-week period we combine feature embedding and
        unsupervised learning to extract prominent interactions within clusters
        of smartphone usage sessions.
      </div>
      <div class="flex flex-col">
        <b
          >Utilising the co-occurrence of user interface interactions as a risk
          indicator for smartphone addiction</b
        >
        <Ref
          text="View on Elsevier"
          href="https://doi.org/10.1016/j.pmcj.2022.101677"
        />
         The study highlights a novel methodology to transform and analyse large
        amounts of interaction events to infer a user&apos;s level of smartphone
        addiction. This is a step forward from using commonly used metrics such
        as pure screen on time which can misrepresent the cognitive complexities
        and dependencies of human behaviour.
      </div>
    </div>
  </div>
</Layout>
