---
import Ref from "./Ref/Ref.astro";
---

<div class="neo flex flex-col gap-4 rounded-t-md bg-paper p-8">
  <div class="flex flex-row justify-between">
    <span>© Björn Friedrichs 2021</span>
    <Ref text={"privacy & more"} href="/about" />
  </div>
</div>
