.shimmer {
  background: rgb(177,177,177);
  background: linear-gradient(290deg, #d1d1d1 0%, #d1d1d1 20%, rgba(240,240,240,1) 30%, #d1d1d1 50%, #d1d1d1 80%, rgba(240,240,240,1) 90%);
  background-repeat: no-repeat;
  background-size: 2400px 400px;

  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}

@keyframes placeholderShimmer {
 0% {
   background-position: -1800px 0;
 }

 100% {
   background-position: -250px 0;
 }
}

