.editorStyle {
  :global(.remirror-editor) {
    box-sizing: border-box;
    position: relative;
    box-shadow: none;
    border: none;
    line-height: 1.6em;
    width: 100%;
    min-height: 142px;
    word-break: normal;
    overflow-wrap: break-word;

    &:focus {
      outline: none;
    }
    &:global(.ProseMirror-focused) {
      :global(.ProseMirror-menubar) {
        display: none;
      }
    }

    *:not(pre) > code {
      font-size: 0.97rem;
      background-color: hsl(202deg 26% 80% / 39%);
      padding: 1px 3px;
      border-radius: 4px;
    }

    pre {
      margin: 8px 0;
      tab-size: 2;
      padding: 10px 15px;
      display: block;
      max-width: 100%;
      overflow: auto;
      line-height: 1.2em;

      border-radius: 8px;
      background: #f2f2f2;
      box-shadow: inset 6px 6px 12px #d5d5d5, inset -6px -6px 12px #ffffff;
      code {
        font-size: 0.95rem;
        color: #444;
      }
    }

    &[contenteditable='true'] {
      box-sizing: border-box;
      white-space: pre-wrap;
      padding: 10px;
      border-radius: 5px;
      background-color: #fff;
      outline: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: none;
      caret-color: #FF570A;

      &:hover {
        outline-width: 1.5px;
      }
      &:focus {
        outline: 0;
        padding: 9px;
        outline: 1.5px solid #FF570A;
        box-shadow: none;
      }
    }

    ul,
    ol {
      text-align: left;
    }

    ul {
      padding-inline-start: 30px;
      list-style-type: disc;
    }

    ol {
      list-style-position: inside;
      padding-inline-start: 7px;
      counter-reset: item;

      li:before {
        content: counters(item, ".") ". ";
        counter-increment: item
      }

      p {
        display: inline;
      }
    }

    img {
      max-width: 100%;
      object-fit: contain;
    }
    p em {
      letter-spacing: 1.2px;
    }
    p {
      margin: 0;
    }
    p:empty {
      margin: 1.6em 0;
    }
    a {
      text-decoration: none !important;
      color: #FF570A;
    }
    s > .selection {
      text-decoration: line-through;
    }

    video {
      max-width: 100%;
    }
  }
}