---

type Props = {
  title?: string
  content?: string
  editable?: boolean
  contentStyle?: any
  contentId?: string
}

const { title = "An overly long but truncated title", content = "Any length content", editable, contentStyle, contentId }= Astro.props;

---

<div
  style={{
    display: "inline-flex",
    flexDirection: "column",
    backgroundColor: "#f1f1f1",
    boxShadow: "0 2px 4px rgba(0, 0, 0, 0.1)",
    padding: "24px",
    borderRadius: "16px",
    fontSize: "1.15em"
  }}
>
  <div style={{ display: "flex" }}>
    <div
      style={{
        width: 0,
        flexGrow: 1,
        overflow: "hidden",
        textOverflow: "ellipsis",
        whiteSpace: "nowrap",
        padding: "4px",
      }}
    >
      {title}
    </div>
  </div>
  <div
    id={contentId}
    style={{
      padding: "4px",
      outline: editable ? "2px solid #2255bb" : "none",
      borderRadius: "8px",
      transition: "width 1s ease",
      ...(contentStyle || {}),
    }}
    contenteditable={editable}
  >
    {content}
  </div>
</div>
