:root {
  --tw-color-primary: theme("colors.primary");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, sans-serif;
  background: #13151a;

  font-family: "Raleway", "-apple-system", "BlinkMacSystemFont",
    "Helvetica Neue", "Arial", "sans-serif";
}

html,
body {
  min-height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  overscroll-behavior-y: none;
}