{
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
      "plugin:react/recommended",
      "prettier"
  ],
  "plugins": [
      "react",
      "prettier"
  ],
  "globals": {
    "global": true,
    "process": true,
    "require": true
  },
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }],
    "react/no-unescaped-entities": 0,
    "react/prop-types": 0,
    "no-unused-vars": ["warn", {
      "vars": "all",
      "args": "after-used",
      "ignoreRestSiblings": false,
      "varsIgnorePattern": "^_",
      "argsIgnorePattern": "^_"
    }],
    "no-undef": "error"
  }
}